form {
	text-align: left;
}

h1 {
	text-align: center;
}
.high {
	color: red;
}

.normal {
	color: green;
}

.deletas {
	margin-bottom: 10px;
}

.btn-margin{
	margin-bottom: 10px;
}

.form-horizontal .form-group{
	margin-right: 0px;
}

.inlainas {
	display: inline-block;
	font-size: 16px;
	margin-bottom: 0;

}

